/*codigo planes internet satelital*/
.internet-satelital {
    text-align: center;
    padding: 40px;
}

.tituloInternetEmpresarial {
    font-size: 2em;
    margin-bottom: 10px;
    color: #00c3ff;
}

.descripcionInternetSatelital {
    margin-left: 20%;
    width: 100%;
    max-width: 700px;
    margin-bottom: 50px;
}

.contenedorPlanesInternetSatelital {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.plan-card-internetSatelital {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #1d3557;
    transition: transform 0.3s ease;
    flex-direction: column;
}

.plan-card-internetSatelital:hover {
    transform: scale(1.05);
    border-color: #1d3557;
}

.h3InternetSatelital {
    font-size: 1.3em;
    color: #1d3557;
    margin-bottom: 5px;
}

.velocidadInternetSatelital {
    font-size: 1.1em;
    color: #457b9d;
    margin-bottom: 5px;
}

.capacidadInternetSatelital {
    font-size: 1.1em;
    color: #457b9d;
    margin-bottom: 5px;
}

.precioInternetSatelital {
    font-size: 1.1em;
    color: #e63946;
    margin-bottom: 5px;
}


.plan-card-internetSatelital .ulInternetSatelital .liInternetSatelital {
    margin-bottom: 8px;
    color: #333;
    font-size: 0.95em;
    list-style-type: none;
    text-align: left;
}

/*codigo boton*/

.contenedorBotonPlanesInternetSatelital {
    display: grid;
    place-items: center;
}

.botonPlanesSatelital {
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
    background: #00c3ff;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.botonPlanesSatelital .aPlanesSatelital {
    text-decoration: none;
    color: white;
}

.botonPlanesBasicoSatelital {
    width: 100%;
    max-width: 150px;
    margin-top: 35px;
    background: #00c3ff;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.botonPlanesBasicoSatelital .aPlanesSatelital {
    text-decoration: none;
    color: white;
}